{% extends 'base.html' %}
{% load static %} 
{% block css %} 
{{ block.super }}
<link
  rel="stylesheet"
  href="{% static 'Energy_efficiency/ef.css' %}"
/>
{% endblock css %}
{% block content %}

<section class="hero-section bg-light py-5">
    <h1 class="seal text-center  my-4">What is your operating philosophy?</h1>
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Card 1 -->
        <div class="col cardboilercol">
          <div class="card h-100 hover-card cardboiler">
            {% comment %} <img src="/image/1R+1sb.png" class="card-img-top" alt="1R+1SB Image" /> {% endcomment %}
            <div class="card-body d-flex justify-content-center">
              <a  href="{% url 'boiler_feedpump_1r+1s' %}">
                1Running + 1StandBy <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Card 2 -->
        <div class="col">
          <div class="card h-100 hover-card cardboiler">
            {% comment %} <img src="/image/1R+1sb.png" class="card-img-top" alt="2R+1SB Image" /> {% endcomment %}
            <div class="card-body d-flex justify-content-center">
                <a  href="{% url 'boiler_feedpump_1r+1s' %}">
                    2Running + 1StandBy <i class="bi bi-arrow-right"></i>
                </a>
            </div>
          </div>
        </div>
  
        <!-- Card 3 -->
        <div class="col">
          <div class="card h-100 hover-card cardboiler">
            {% comment %} <img src="/image/1R+1sb.png" class="card-img-top" alt="Multi R+SB Image" /> {% endcomment %}
            <div class="card-body d-flex justify-content-center">
                <a  href="{% url 'boiler_feedpump_1r+1s' %}">
                    Multiple Running + Multiple StandBy <i class="bi bi-arrow-right"></i>
                </a>     
                
            </div>
          </div>
        </div>
  
      </div>

      <div class="hero-image mt-5" id="lottie-container">
        <img
          src="{% static 'img/3.svg' %}"
          alt="Industrial Solutions"
          class="animated-svg"
        />
      </div>
    </div>
</section>
  

{% endblock content %}
