{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">

    {% include 'includes/alerts.html' %}
    
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!-- SIDEBAR -->
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> My order history </a>
                    <a class="list-group-item" href="#"> Transactions </a>
                    <a class="list-group-item" href="#"> Return and refunds </a>
                    <a class="list-group-item" href="#"> Settings </a>
                    <a class="list-group-item" href="#"> My Selling Items </a>
                    <a class="list-group-item" href="#"> Received orders </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}">
                    <i class="fa fa-power-off"></i> <span class="text">Log out</span>
                </a> 
                <!-- SIDEBAR .//END -->
            </aside>

            <main class="col-md-9">
                <article class="card">
                    <h4 class="card-header">Update Profile</h4>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend>Personal Details</legend>
                                {{ u_form.as_p }}
                            </fieldset>
                            <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                        </form>
                    </div> <!-- card-body -->
                </article> <!-- order-group.// --> 
            </main>
        </div>
        <!-- row.// -->
    </div>

</section>
{% endblock %}
