{% extends 'base.html' %}
{% load static %} 
{% block css %} 
{{ block.super }}

<link rel="stylesheet" href="{% static 'accounts/allform.css' %}" />

{% endblock css %}
{% block content %}

<section class="section-content">
  <div class="card forgot-card">
    {% include 'includes/alerts.html' %}
    <div class="card-body">
      <h4 class="card-title">Forgot password</h4>
      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Email Address"
            name="email"
            required
            autofocus
          />
        </div>
        <div class="form-group text-right mt-2">
          <a href="{% url 'login' %}" class="link-text">Got password? Login</a>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-submit btn-block">Submit</button>
        </div>
        <p class="text-center mt-4">
          Don't have an account?
          <a href="{% url 'register' %}" class="link-texts">Sign up</a>
        </p>
      </form>
    </div>
  </div>


</section>

{% endblock %}


