{% extends 'base.html' %}
{% load static %}

    


{% block content %}

<section class="section-content padding-y" style="min-height:84vh">
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      {% include 'includes/alerts.html' %}
      <div class="card-body">
      <h4 class="card-title mb-4">Reset Password</h4>
      <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="form-group position-relative"">
			  <input type="password" class="form-control" placeholder="Create Password" name="password" id="password" required> <span
            class="toggle-password"
            onclick="togglePassword()"
            style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"
          >
            👁️
          </span>
        </div><br> 
        <div class="form-group position-relative"">
            <input type="password" class="form-control" placeholder="Confirm Password" id="password" name="confirm_password" required><span
            class="toggle-password"
            onclick="togglePassword()"
            style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"
          >
            👁️
          </span>
        </div> <br> 
        
        <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Reset Password  </button>
        </div>   
      </form>
      </div> 
    </div> 

     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <br><br>


    </section>

{% endblock %}
{% block js %} 
{{ block.super }}
<!-- Password toggle script -->
<script>
  function togglePassword() {
    const passwordInput = document.getElementById('password');
    const toggleIcon = document.querySelector('.toggle-password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      toggleIcon.textContent = '🙈'; // Icon changes to "hide"
    } else {
      passwordInput.type = 'password';
      toggleIcon.textContent = '👁️'; // Icon changes to "show"
    }
  }
</script>

{% endblock js %}


<!-- Contact Section -->

    


