{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
{{ block.super }}

<link rel="stylesheet" href="{% static 'Products/home.css' %}" />


{% endblock css %}

{% block content %}

<section class="hero-section bg-white">
  <div class="hero-content">
    <h1 class="seal">Shaft & Seal</h1>
    <p class="subheading">
      Your One-Stop Solution for Industrial Sealing & Pump Needs
    </p>
    <div >
      
      <p>Welcome, <strong>{{ user.first_name }} 
        {% comment %} {{ user.last_name }}</strong></p>
    <p>Email: {{ user}}</p> {% endcomment %}
    {% comment %} <p>Authenticated: {{ user.is_authenticated }}</p> {% endcomment %}
    </div>
    <div class="search-icon-container">
      <input
        type="text"
        id="search-input"
        placeholder="What are you looking for..."
        aria-label="Search"
      />
      <i class="fas fa-search search-icon"></i>
      <div class="dropdown" id="dropdown-container">
        <div class="cards-container" id="cards-container">
          <a href="{% url 'Energy_efficiency_home' %}" class="card" data-url="{% url 'Energy_efficiency_home' %}"
            >Energy Efficiency</a
          >
          <a
            href="{% url 'spares_page' %}"
            data-url="{% url 'spares_page' %}"
            id="spares-card"
            class="card"
            >Spares</a
          >
          <a href="pumppage.html" class="card" data-url="pumppage.html">Pump</a>
          <a href="morepage.html" class="card" data-url="morepage.html"
            >Services</a
          >
          <a href="morepage.html" class="card" data-url="morepage.html"
            >Explore More</a
          >
        </div>
      </div>
    </div>
    <div class="hero-image mt-5" id="lottie-container">
      {% comment %} <img src="{% static 'img/homeheroimg.svg' %}"
      alt="Industrial Solutions"> {% endcomment %}
       <img src="{% static 'img/2.svg' %}" alt="Industrial Solutions" class="animated-svg">
    </div>
  </div>
</section>

{% endblock  %} 

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.13/lottie.min.js"></script>

<script src=" {% static 'Products/home.js' %} "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}
