{% extends 'base.html' %} 
{% load static %} 
{% block title %}
    Shaft & Seal | Home
{% endblock %}
{% block css %} 
{{ block.super }}

<link rel="stylesheet" href="{% static 'Products/home.css' %}" />

{% endblock css %} 
{% block content %}

<section class="hero-section bg-white">
  <div class="hero-content">
    <h1 class="seal" style="margin-top:-35px">Shaft & Seal</h1>
    <p class="subheading">
      One Stop Pumping Solutions
    </p>

    <div class="search-icon-container">
      <form action="{% url 'home' %}" method="get">
      <input
        type="text"
        id="search-input"
        placeholder="What are you looking for..."
        aria-label="Search"
        name="q"
      />
    </form>
      <i class="fas fa-search search-icon"></i>
     
    </div>
    <div class="hero-image mt-5" id="lottie-container">
      <img
        src="{% static 'img/2.svg' %}"
        alt="Industrial Solutions"
        class="animated-svg"
      />
    </div>
  </div>
</section>

{% endblock %} 
{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.13/lottie.min.js"></script>

<script src=" {% static 'Products/home.js' %} "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}