{% extends 'base.html' %}
{% load static cache %}
{% block title %}
    Shaft & Seal | Product
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'Products/product.css' %}" />
{% endblock css %}

{% cache 600 home_content %}
{% block content %}

<section class="hero-section bg-light ">
  <div >
    
    <div class="about-banner">
      <div class="banner-overlay"></div>
      <!-- Banner Text -->
      <div class="banner-text text-center text-white">
        <h1 class="banner-heading">PRODUCT</h1>
        <h2 class="banner-subheading">Explore Our Products</h2>
      </div>
    </div>
    <!-- Product Cards Section -->
    <div class="container mb-5 mt-5">
      <!-- Card Grid -->
      <div class="row g-4 justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-box text-center" style="background-color:#033043; height: 100px; padding: 40px 20px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                <a href="#"   class= "btn btn-custom w-100" style="font-size: 16px; padding: 14px; border-radius: 6px; color: #fff;">Product1</a>
              </div>
            </div>
         
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-box text-center" style="background-color:#033043; height: 100px; padding: 40px 20px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                <a href=""   class= "btn btn-custom w-100" style="font-size: 16px; padding: 14px; border-radius: 6px; color: #fff;">Product2</a>
              </div>
            </div>
         
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-box text-center" style="background-color:#033043; height: 100px; padding: 40px 20px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                <a href=""   class= "btn btn-custom w-100" style="font-size: 16px; padding: 14px; border-radius: 6px; color: #fff;">Product3</a>
              </div>
            </div>
         
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-box text-center" style="background-color:#033043; height: 100px; padding: 40px 20px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                <a href=""   class= "btn btn-custom w-100" style="font-size: 16px; padding: 14px; border-radius: 6px; color: #fff;">Product4</a>
              </div>
            </div>  
      </div>
     </div>
</section>


{% endblock %}
{% endcache %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}
