{% extends 'base.html' %}
{% load static cache %}
{% block title %}
    Shaft & Seal | Product
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'Products/product.css' %}" />
{% endblock css %}

{% cache 600 home_content %}
{% block content %}
   <section class="hero-section">
    <div class="hero-content">
      <div class="about-banner">
        <div class="banner-overlay"></div>
        <!-- Banner Text -->
        <div class="banner-text text-center text-white">
          <h1 class="banner-heading">PRODUCT</h1>
  
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="breadcrumb-link">Home</a>
              </li>
              <li class="breadcrumb-separator">/</li>
              <li class="breadcrumb-item active text-white" aria-current="page">
                Product
              </li>
            </ol>
          </nav>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        
        <!-- Card Template -->
        {% comment %} <div class="col">
          <div class="card h-100 text-center">
            <div class="card-body">
              <img src="/static/img/pumpimg.png">
              <h1>Product</h1>
              <p>Havells 2 HP Single Phase Centrifugal Monoblock Pump, CMS20-W</p>
              <h3>Rs. 8,500.00</h3>
              <div class="custombutton">
                <a class="custom-btn">Addtocart</a>
                <a class="custom-btn">Details</a>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        <h2 class="text-centre">Coming soon</h2>
        
        <!-- Repeat similar card structures here -->
        
      </div>
    </div>
  </section>
{% endblock %}

{% endcache %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}
