{% extends 'base.html' %}
{% load static %}
{% block title %}
    Shaft & Seal | Product
{% endblock %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'products/product.css' %}" />


{% endblock css %}
{% block content %}
<section class="hero-section">
   
    <div class="hero-content">
        <div class="about-banner">
          <div class="banner-overlay"></div>
          <!-- Banner Text -->
          <div class="banner-text text-center text-white">
            <h1 class="banner-heading">Products</h1>
    
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}" class="breadcrumb-link">Home</a>
                </li>
                <li class="breadcrumb-separator">/</li>
                <li class="breadcrumb-item active text-white" aria-current="page">
                  products
                </li>
                
              </ol>
            </nav>
          
        </div>
      </div>
   
     </div>
     
     <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      
      <!-- Card Template -->
      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-0 hover-card ">
          <div class="card-body text-center">
            
           <img src="/static/img/pumpimg.png">
           <h4>Product</h4>
           <p>Product Description</p>

           <h5>MRP : 250</h5>
           <div class="custombutton">
            <a class="btn custom-btn mt-2" >AddToCart</a>
            <a class="btn custom-btn mt-2" >Details</a>

           </div>

        </div>
        </div>
      </div>

    </div>
  </div>
    
</section>
{% endblock  %}
    

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}
    
