{% extends 'base.html' %}
{% load static %}
{% block title %}
    Shaft & Seal | Service
{% endblock %}

{% block content %}

<section class="hero-section">
    <h1 class="seal">Our Services
    </h1>   
     <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Product 1 -->
            <div class="col">
                <div class="card">                
                     <div class="card2" >
                        <h2>High-Quality Manufacturing</h2>
                        <p>Our state-of-the-art facilities ensure precision engineering and durability.</p>
                     </div>                   
                </div>
            </div>
    
            <!-- Product 2 -->
            <div class="col">
                <div class="card">
                    <div class="card2">
                        <h2>Custom Pump Design</h2>
                        <p>We specialize in designing pumps tailored to your specific industrial needs.</p>
                    </div>                      
                   
                </div>
            </div>
    
            <!-- Product 3 -->
            <div class="col">
                <div class="card">
                    
                    <a class="card2">
                        <h2>Maintenance & Support</h2>
                        <p>Comprehensive maintenance services to keep your pumps running efficiently.</p>         
                    </a>                       
                 
                </div>
            </div>
    
            <!-- Add more products here -->
            <div class="col">
                <div class="card">
                    
                    <div class="card2">
                        <h2>Roto Pumps:</h2>
                        <p>
                            Specializes in positive displacement pumps and has 
                            a strong global presence, with a focus on quality and reliability.  </p>         
                        </div>                      
                 
                </div>
            </div>
            <div class="col">
                <div class="card">
                    
                    <div class="card2">
                        <h2>KSB</h2>
                        <p>
                            A global leader in pumps, valves, and services, with a strong presence in India, 
                            offering industrial pumps and solutions for various applications. </p>         
                    </a>                       
                 
                </div>
            </div>
             
        </div>
    </div>
</section>
{% endblock  %}
    