.about-banner {
  position: relative;
  height: 50px !important;
  background-image: url("/static/img/website-page-contact-us-email-600nw-1958537320.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-text {
  position: relative;
  z-index: 1;
}

.banner-heading {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: #333;
  max-width: 800px;
  margin: 0 auto 20px;
}

.learnmorebtn {
  background-color: #fda521;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.learnmorebtn:hover {
  background-color: #e5951f;
}

.card {
  background-color: #fff;
  border-radius: 5px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  border: 2px solid #cf0f47;
}
.maincontent {
  /* background: linear-gradient(to right, #f8f9fa, #e9ecef); */
  /* border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}

.maincontent h2 {
  font-weight: 700;
  color: #cf0f47;
  animation: slideInDown 1s ease-in-out;
}
h2{
  font-weight: 700;
  color: #cf0f47;
  /* animation: slideInDown 1s ease-in-out; */
}
.maincontent p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  animation: fadeInUp 1.2s ease-in-out;
}

.promo-img {
  width: 300px; 
  height: auto;
  border-radius: 15px;
  animation: fadeInRight 1.3s ease-in-out;
}

@keyframes slideInDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}