.hero-section{
    padding: 60px 20px;
    text-align: center;
   
    background-color: #F2F2F2 !important;
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    padding: 30px 20px;
  }

  .hero-content {
    max-width: 90%;
  }

  .learn-more-btn {
    font-size: 14px;
  }

  .search-icon-container {
    max-width: 350px;
  }
}


.search-icon-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

#search-input {
  width: 50%;
  padding: 18px 24px;
  border: 2px solid #ddd;
  border-radius: 40px;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

#search-input:focus {
  border-color: #fda521;
  box-shadow: 0 0 12px rgb(226, 250, 89);
}

/* Search Icon */
.search-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 1.4em;
  
}


.seal {
  font-size: 3rem;
  font-weight: 700;
  color: #0c2340;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.5rem;
  display: inline-block; 
  position: relative;
}
/**/
.custombutton{
  display: flex;
}
.custom-btn {
  /* background-color: #FFB22C; */
  background-color: #c1093d;
  color: #fff;
  border: 1px solid red;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(255, 178, 44, 0.3);
  width: 200px;
  margin: 5px;
}
.custom-btn:hover{
  background-color: #c1093d;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(207, 15, 71, 0.3);
}


.card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px;
}

.card:hover {
  background-color: whitesmoke;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(207, 15, 71, 0.3);
}
.text-custom {
  color: #cf0f47 !important;
  font-weight: 600;
}
.card img{
  width: 100%;
  height: 150px;
  border-radius: 10px;

}