.hero-section {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}


.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: transform 0.3s ease;
  border: 2px solid #cf0f47;
}

.card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #cf0f47;
  background-size: 600% 600%;
  z-index: -2;
  filter: blur(10px);
  animation: glow 6s linear infinite;
  border-radius: 18px;
}

.card::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  z-index: -1;
  border-radius: 14px;
}

.card:hover {
  background-color: whitesmoke;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(207, 15, 71, 0.3);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card h4 {
  font-weight: 600;
  margin-top: 1rem;
}

.card p {
  color: rgb(109, 102, 102);
}

.about-banner {
  position: relative;
  height: 300px;
  background-image: url("/static/img/website-page-contact-us-email-600nw-1958537320.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-text {
  position: relative;
  z-index: 1;
}

.banner-heading {
  font-size: 48px;
  margin-bottom: 10px;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.breadcrumb-item {
  display: inline;
}

.breadcrumb-link {
  color: #fda521;
  text-decoration: none;
}

.breadcrumb-separator {
  color: white;
  margin: 0 5px;
}

@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
