{% load cache %} 
{% cache 600 footer_static %}

<footer
  class="text-white pt-4 pb-3 footer"
  style="
    background-color: #033043;
    width: 100%;
    margin-top: auto;
    display: block;
  "
>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <!-- Left or Center Text -->
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-0 small">
          &copy; <span style="color: #feba17">2025 </span>Shaft&Seal. All Rights Reserved.
        </p>
      </div>

      <!-- Right-aligned Social Icons -->
      <div class="col-md-6 text-center text-md-end">
        <a href="https://facebook.com" class="mx-2" target="_blank">
          <i class="fab fa-facebook-f" style="color: #1877F2;"></i>
        </a>
        <a href="https://twitter.com" class="mx-2" target="_blank">
          <i class="fab fa-twitter" style="color: #1DA1F2;"></i>
        </a>
        <a href="https://linkedin.com" class="mx-2" target="_blank">
          <i class="fab fa-linkedin-in" style="color: #0A66C2;"></i>
        </a>
        <a href="https://www.instagram.com/shaftnseal/?igsh=MTc2bGJiZXk5am00bg%3D%3D" class="mx-2" target="_blank">
          <i class="fab fa-instagram" style="color: #E4405F;"></i>
        </a>
        <a href="https://youtube.com/@shaftandseal" class="mx-2" target="_blank">
          <i class="fab fa-youtube" style="color: #FF0000;"></i>
        </a>
        <a href="mailto:sales@shaftnseal.com" class="mx-2">
          <i class="fas fa-envelope" style="color: #feba17;"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

{% endcache %}
