{% load cache %}
{% cache 600 footer_static %}

<footer class="bg-dark text-white py-4 footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-3 mb-md-4">
                <p class="copyright mb-2 mb-md-3">
                    &copy; <span class="current-year">2025</span> Shaft And Seal. All Rights Reserved.
                </p>
                <div class="d-none d-md-block">
                    <hr class="footer-divider">
                </div>
            </div>
            
            <div class="col-12 col-md-auto">
                <ul class="social-links list-unstyled d-flex flex-column flex-md-row gap-3 align-items-center">
                    <li>
                        <a href="#" class="text-white text-decoration-none hover-effect">
                            <i class="fab fa-facebook-f me-1"></i>
                            <span class="social-text">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none hover-effect">
                            <i class="fab fa-twitter me-1"></i>
                            <span class="social-text">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none hover-effect">
                            <i class="fab fa-linkedin-in me-1"></i>
                            <span class="social-text">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </footer>

 {% endcache %}