{% load static %}
<nav class="navbar navbar-expand-lg navbar-cust">
    <div class="container position-relative">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/Logo.jpeg' %}" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-center mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">
                        Contact
                    </a>
                </li>
             /li>

            </ul>
            
            <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                <div class="d-flex justify-content-end mb-3 mb-lg-0">
                  {% if user.id is  None %}
                    <div class="widget-header">
                        <small class="title text-white">Welcome guest!</small>

                        <div> 
                            <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'register' %}"> Register</a>
                        </div>
                    </div>
                   {% else %}
                   <div class="widget-header">
                    <small class="title text-white">Welcome {{ user.first_name }} </small>

                    <div> 
                        <a href="#">Dashboard</a> <span class="dark-transp"> | </span>
                        <a href="{% url 'logout' %}"> Logout </a>
                    </div>
                </div>
                   {% endif %}

                </div> <!-- widgets-wrap.// -->
            </div> 
            <div class="logout-btn" onclick="logout()">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>              
                </div> 
            </div> 
            </div>
            
        </div>
    </div>
</nav>