{% load static cache %}

{% cache 600 navbar user.id %}
<nav class="navbar navbar-expand-lg navbar-cust">
    <div class="container position-relative">

        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/Logo.jpeg' %}" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}" style="color:#FEBA17">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>

            <div class="d-flex align-items-center">
                {% if user.id is None %}
                    <div class="widget-header text-end">
                        <small class="title text-white">Welcome guest!</small>
                        <div> 
                            <a href="{% url 'login' %}" style="color:rgb(247, 251, 255); text-decoration: none;">Sign in</a> 
                            <span class="dark-transp"> | </span>
                            <a href="{% url 'register' %}" style="color:rgb(247, 251, 255); text-decoration: none;">Register</a>
                        </div>
                        
                    </div>
                {% else %}
                    <div class="widget-header text-end">
                        <small class="title text-white">Welcome {{ user.first_name }}</small>
                        <div> 
                            <a href="{% url 'dashboard' %}" style="color: #FEBA17;text-decoration:none">Dashboard</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'logout' %}" style="color: #FEBA17;text-decoration:none">Logout</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endcache %}
