/* .hero-section {
  text-align: center;
  background-color: #ac2c2c !important;
  height: 130vh;
} */
 
.spareshead{
    font-size: 3rem;
    font-weight: 700;
    color: #ea0f6e !important;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.5rem;
    display: inline-block;
    position: relative;
  }
  
  .modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
