.btn-register {
  background: #033043;
  color: #fff;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-register:hover {
  background: #fbb336;
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.btn-register:active {
  transform: scale(0.98);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* login card */
.login-card {
  max-width: 400px;
  margin: 100px auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-card .card-body {
  padding: 40px 30px;
}

.login-card .card-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #343a40;
}

.form-control {
  border-radius: 12px;
  padding: 12px;
  font-size: 15px;
}

.btn-login {
  background: #033043;
  color: #fff;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: #fbb336;
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.forgot-link {
  font-size: 16px;
  color: #007bff;
  margin-left: 60%;
  
}
.forgot-link a {
  color: #007bff;
  text-decoration: none;
}
.forgot-link a:hover {
  text-decoration: underline;
}
.forgot-link a:visited {
  color: #cb15ef;
}


/* forgot password */
.forgot-card {
    max-width: 400px;
    margin: 100px auto;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .forgot-card .card-body {
    padding: 40px 30px;
  }

  .forgot-card .card-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 25px;
  }

  .form-control {
    border-radius: 12px;
    padding: 12px;
    font-size: 15px;
  }

  .btn-submit {
    background: #033043;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .btn-submit:hover {
    background: #fbb336;
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }

  .link-text {
    font-size: 16px;
    color: #007bff;
    margin-left: 56%;
  }

  .link-text:hover {
    text-decoration: underline;
  }

  .section-content {
    background: #f8f9fa;
    padding: 60px 15px;
    min-height: 84vh;
  }