 .pdf-section {
        /* background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
        /* padding: 2rem; */
        margin: 2rem auto;
        max-width: 1000px;
    }

    .section-title {
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .pdf-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 1rem;
    }

   .btn-custom {
        background-color: #CF0F47;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: 2px;
  padding: 3px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
        background-color: #CF0F47;
}

/* Container with flex layout */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 
}

/* Responsive for small screens */
@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .btn-custom {
    width: 90%;
    max-width: none;
  }
}
    #modalImage {
      width: 100vw;
      height: 100vh;
      object-fit: contain; /* Or use 'cover' if you want to crop */
      display: block;
    }