.card-box {
    background-color: crimson;  /* 🎨 red background */
    padding: 50px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fw-bold{
    color: crimson;
  }
  .card-box:hover {
    transform: translateY(-5px);
  }
  
  .card-box button {
    font-size: 16px;
    padding: 14px;
    border-radius: 6px;
    background-color: #fff;
    color: crimson;
    font-weight: 600;
  }
  .btn-custom{
   background-color: crimson !important;
  }
  /* .card-box button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid white;
  }
     */