.card {
    background-color: #ffffff;
  }

  .form-control {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .card-header h5 {
    font-size: 1.25rem;
  }

  .toggle-icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }

  .card-header:hover .toggle-icon {
    transform: scale(1.2);
  }
  .btn-custom{
    background-color: #033043;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;
}
.bg-custom{
    background-color: #033043;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;
   
}