.card {
    cursor: pointer;
  }

  .card-body {
    display: none;
  }

  .card.opened .card-body {
    display: block;
  }

  .form-control {
    margin: 10px 0;
  }

  select.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
  }

  .toggle-icon {
    float: right;
    font-size: 1.2rem;
  }

.form-head{
    color: crimson;
}