.hero-section {
  min-height: 150vh;

  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: white;
  text-align: center;
}

.seal {
  color: #033043;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 1.5rem;
  background: linear-gradient(135deg, #225e79, #214b5e);

  height: 150px;
  border-radius: 10px;
  color: #ffff;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  font-weight: 500;
}
.card a {
  text-decoration: none;
  color: #ffffff;
}

.card:hover {
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .seal {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .card {
    padding: 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .hero-section {
    min-height: 50vh;
    padding: 1rem;
  }

  .seal {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
