{% extends 'base.html' %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'Products/newpump.css' %}" /> 
{% endblock css %} 
{% block content %}

<section class="hero-section">
  <h1>design here</h1>
  <p>
    			
	Form For New Pump		
			
	Flow Required in m3/hr	35	
	Head required in meter	910	
	Temperature	130	
	Existing Pump Make	ksb	Drop Down
	Existing Pump Model	hda65/15	Drop Down
	Design	Shell Bearin+LOD	Drop Down
	Pic of DE		UpLoad Pic
	Pic of NDE		UpLoad Pic
			
		Sumit	

  </p>
</section>

{% endblock %}