{% extends 'base.html' %}
{% load static %}

{% block css %} 
{{block.super}}

<link rel="stylesheet" href="{% static 'Products/Serviceapp.css' %}" /> 


{% endblock css %} 
{% block content %}

   <section class="service-page">

  <!-- 1. Customer Information Form -->
  <div class="form-section">
    <h2>1. Customer Information</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" placeholder="Customer Code" required />
      <input type="text" placeholder="Contact Person" required />
      <input type="email" placeholder="Email" required />
      <input type="number" placeholder="Phone Number" required />
      <button type="submit" class="btnsave">Submit</button>
    </form>
  </div>

  <!-- 2. New Pump Request Form -->
   <div class="form-section">
    <h2>2. Service Feedback</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <textarea placeholder="Feedback..." rows="4" required></textarea>
      <button type="submit" class="btnsave">Submit</button>
    </form>
  </div>

  <!-- 3. Service Feedback Form -->
  <div class="form-section">
    <h2>3. Service Feedback</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <textarea placeholder="Feedback..." rows="4" required></textarea>
      <button type="submit" class="btnsave">Submit</button>
    </form>
  </div>

  <!-- 4. Breakdown Report Form -->
   <div class="form-section">
    <h2>4. Service Feedback</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <textarea placeholder="Feedback..." rows="4" required></textarea>
      <button type="submit" class="btnsave">Submit</button>
    </form>
  </div>

  <!-- 5. Site Visit Request Form -->
  <div class="form-section">
    <h2>5. Service Feedback</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <textarea placeholder="Feedback..." rows="4" required></textarea>
      <button type="submit" class="btnsave">Submit</button>
    </form>
  </div>
</section>

{% endblock content  %}

{% block js %}
{{ block.super }}

{% endblock js %}